# ***Chapter 02***

## **Modules**

In [4]:
import re 
my_regex = re.compile('[0-9]+',re.I)

In [5]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [7]:
import re as regex
my_regex = regex.compile("[0-9]+",regex.I)

In [8]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [9]:
print(my_regex)

re.compile('[0-9]+', re.IGNORECASE)

In [10]:
from collections import defaultdict,Counter
lookup = defaultdict(int)
my_counter = Counter()

In [12]:
my_counter

Counter()

## **Functions**

#### A function is a rule for taking zero or more inputs and returning a corresponding output. In Python, we typically define functions using def:

In [13]:
def double(x):
    """This is where you put an optional docstring that explains what the
    function does. For example, this function multiplies its input by 2.
    """
    return x * 2

#### Functions can be assigned to variables and can be passed to other functions like any arguments

In [15]:
def apply_to_one(f):
    return f(1)
my_double = double
x = apply_to_one(my_double)

In [16]:
x

2

In [23]:
apply_to_one(double)

2

In [24]:
apply_to_one(lambda x : x + 4)

5

In [28]:
# how default arguments in a function work
def my_print(message = "My default message"):
    print(message)
my_print("hello")
my_print()

hello
My default message

In [34]:
def full_name(first = "What's-his-name",last = "Something"):
    return first + " " + last
full_name()
full_name("Mohan")
full_name(last = "C R")

"What's-his-name C R"

## **Strings**

In [35]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [38]:
tab_string = "\t"
len(tab_string)

1

In [47]:
not_tab_string = r'\t'
print(not_tab_string)
len(not_tab_string)

\t

2

In [50]:
multi_line_string = """This is the first line
this is the second line
and this is the third line"""

In [52]:
print(multi_line_string)

This is the first line
this is the second line
and this is the third line

In [62]:
#f-string
first_name = "Mohan"
last_name = "C R"
full_name1 = first_name + " " + last_name
full_name2 = "{0} {1}".format(first_name,last_name)
full_name3 = f"{first_name} {last_name}"
print(full_name1,'\n',full_name2,'\n',full_name3)

Mohan C R
 Mohan C R
 Mohan C R

## **Exceptions**

In [63]:
try:
    print(0/0)
except(ZeroDivisionError):
    print("Cannot divide by zero")

Cannot divide by zero

## **Lists**

In [67]:
integer_list = [1,2,3]
heterogeneous_list = ["String",0.1,1,True]
list_of_lists = [integer_list,heterogeneous_list]
print(integer_list)
print(heterogeneous_list)
print(list_of_lists)
print(len(integer_list))
print(sum(integer_list))

[1, 2, 3]
['String', 0.1, 1, True]
[[1, 2, 3], ['String', 0.1, 1, True]]
3
6

In [77]:
x = [1,2,3,4,5,6,7,8,9]
print(x[0],x[1],x[-1])

1 2 9

In [80]:
x[0] = -1

In [71]:
x

[-1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
x[5:2:-1]

[6, 5, 4]

In [79]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
x = [1,2,3]
x.extend([4,5,6])

In [85]:
x

[1, 2, 3, 4, 5, 6]

In [89]:
x = [1,2,3]
x.append(0)
y = x[-1]
y
z = len(x)

In [90]:
print(y)
print(z)

0
4

In [91]:
x , y = [1,2]

In [92]:
x

1

In [93]:
y

2

In [94]:
_ , y = [1,2]

In [96]:
y

2

## **Tuples**

In [97]:
my_list = [1,2]
my_tuple = (1,2)
other_tuple = 3,4
my_list[1] = 3
try:
    my_tuple[1] = 3
except TypeError:
    print("Cannot Modify Tuple")

Cannot Modify Tuple

In [98]:
def sum_and_product(x,y):
    return (x+y),(x*y)

In [99]:
sum_and_product(2,3)
sum_and_product(5,10)

(15, 50)

## **Dictionaries**

In [100]:
empty_dict = {}
empty_dict2 = dict()
grades = {'Mohan':100 , 'Mon' : 50}

In [103]:
grades['Mohan']

100

In [108]:
print(grades.items())
print(grades.values())
print(grades.keys())

dict_items([('Mohan', 100), ('Mon', 50)])
dict_values([100, 50])
dict_keys(['Mohan', 'Mon'])